<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pjm.painttest">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".boot.SplashActivity"
            android:theme="@style/AppThemeFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".baseTest.DashViewTestActivity" />
        <activity android:name=".baseTest.PathDashPathViewActivity" />
        <activity android:name=".baseTest.PaintBaseTestActivity" />
        <activity android:name=".customProgress.CircleProgressTestActivity" />
        <activity android:name=".baseTest.MinionTestActivity" />
        <activity android:name=".shaderTest.ShaderViewTestActivity" />
        <activity android:name=".loadingView.SplashViewTestActivity" />
        <activity android:name=".xferModeTest.XferModeCaseTestActivity" />
        <activity android:name=".xferModeTest.XferModeTestActivity" />
        <activity android:name=".maskFilterTest.MaskFilterTestActivity" />
        <activity android:name=".maskFilterTest.BlurMaskTestActivity" />
        <activity android:name=".maskFilterTest.EmbossMaskTestActivity" />
        <activity android:name=".maskFilterTest.ColorMatrixTestActivity" />
        <activity android:name=".canvasTest.CanvasTestActivity" />
        <activity android:name=".canvasTest.MyDrawableTestActivity" />
        <activity
            android:name=".canvasTest.CanvasBaseActivity"
            android:label="@string/title_activity_canvas_base"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".canvasTest.SearchViewTestActivity" />
        <activity android:name=".pathTest.PathTestActivity" />
        <activity android:name=".pathTest.PathBaseTestActivity" />
        <activity android:name=".pathTest.WaveViewTestActivity" />
        <activity android:name=".pathTest.DragBubbleViewTestActivity" />
        <activity android:name=".pathMeasurTest.PathMeasureTestActivity" />
        <activity android:name=".pathMeasurTest.SearchViewTestActivity" />
        <activity android:name=".pathMeasurTest.SVGTestActivity" />
        <activity android:name=".pathMeasurTest.LoadingViewTestActivity" />
        <activity android:name=".pingTest.NetWorkPingActivity" />
        <activity android:name=".baseTest.CustomViewTestActivity" />
        <activity android:name=".netTest.NetTestActivity" />
        <activity android:name=".rxJavaTest.RxjavaTestActivity" />
        <activity android:name=".baseTest.SimpleTestActivity" />
        <activity android:name=".slideDelete.SlideRecyclerViewActivity" />
        <activity
            android:name=".coordinatorLayoutTest.CoordinatorLayoutTestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".dialogTest.DialogTestActivity" />
        <activity android:name=".dialogTest.DialogTest2Activity"></activity>
    </application>

</manifest>