<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pjm.painttest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BaseTest.DashViewTestActivity" />
        <activity android:name=".BaseTest.PathDashPathViewActivity" />
        <activity android:name=".BaseTest.PaintBaseTestActivity" />
        <activity android:name=".CustomProgress.CircleProgressTestActivity" />
        <activity android:name=".BaseTest.MinionTestActivity" />
        <activity android:name=".ShaderTest.ShaderViewTestActivity" />
        <activity android:name=".LoadingView.SplashViewTestActivity" />
        <activity android:name=".XferModeTest.XferModeCaseTestActivity" />
        <activity android:name=".XferModeTest.XferModeTestActivity" />
        <activity android:name=".MaskFilterTest.MaskFilterTestActivity" />
        <activity android:name=".MaskFilterTest.BlurMaskTestActivity" />
        <activity android:name=".MaskFilterTest.EmbossMaskTestActivity" />
        <activity android:name=".MaskFilterTest.ColorMatrixTestActivity" />
        <activity android:name=".CanvasTest.CanvasTestActivity" />
        <activity android:name=".CanvasTest.MyDrawableTestActivity" />
        <activity
            android:name=".CanvasTest.CanvasBaseActivity"
            android:label="@string/title_activity_canvas_base"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CanvasTest.SearchViewTestActivity" />
        <activity android:name=".PathTest.PathTestActivity" />
        <activity android:name=".PathTest.PathBaseTestActivity" />
        <activity android:name=".PathTest.WaveViewTestActivity" />
        <activity android:name=".PathTest.DragBubbleViewTestActivity" />
        <activity android:name=".PathMeasurTest.PathMeasureTestActivity" />
        <activity android:name=".PathMeasurTest.SearchViewTestActivity" />
        <activity android:name=".PathMeasurTest.SVGTestActivity" />
        <activity android:name=".PathMeasurTest.LoadingViewTestActivity" />
        <activity android:name=".PingTest.NetWorkPingActivity"></activity>
    </application>

</manifest>